body{background-color: slategrey;
    background-image: radial-gradient(circle 800px, slategrey, rgb(2, 29, 54));
    color: silver;
    }
    
    .button{background-color: red;
    width: 100px;
    height: 30px;
    border-radius: 12px;
    border-color: yellow;
    }
    
    .lgButton{background-color: red;
        width: 150px;
        height: 30px;
        border-radius: 12px;
        border-color: yellow;
        }
        .sandButton{background-color: yellow;
            width: 100px;
            height: 30px;
            border-radius: 12px;
            border-color: red;
            }